<a href="https://colab.research.google.com/github/NirupamaRanjan/Python/blob/main/In_built_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#built_in functions
#1. print() prints 
#2. input() takes input
#3. type() return data type of a variable
#4. type conversion functions like int(),float() and all

In [3]:
#5. abs() retruns absolute value of a integer
#6. pow() eg: pow(2,3) will return 8
#7. min()/max()

list=[1,2,3,4]
print(min(list))
print(max(list))

name="nirupama"
print(min(name))
print(max(name))

1
4
a
u

In [6]:
#8. round(). #returns floor value

print(round(5/2))
print(round(22/7,3)) #rounds up to 3 decimal places

2
3.143

In [7]:
#9 divmod(). #returns the tuple comtaning dividend and modulus (x//y , x%y)

print(divmod(22,7))

(3, 1)

In [8]:
#10 bin/oct/hex()

print(bin(4))
print(oct(4))
print(hex(5))

0b100
0o4
0x5

In [9]:
#11 id() : returns address of a variable in memory

a=3
print(id(a))

140274255763824

In [11]:
#12. ord() : returns unicode code point for a one-character string (ascii code of a character)

print(ord('a'))

97

In [12]:
#13. len() : return length of any iterable

list=[1,2,3,4]
print(len(list))

4

In [14]:
#14. sum(): returns sum of any iterable (assumption: all elements are numbers)

t=(1,2,3,4,5)
print(sum(t))

15

In [15]:
#15. help()  provides help for  built in functions 

help('sum')

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.