<a href="https://colab.research.google.com/github/NirupamaRanjan/Python/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#printing in python
#No need to import any files or write inside any function
print("Hello World")

Hello World

In [ ]:
a=[1,2,3,4]
print(a,"This is an array")

[1, 2, 3, 4] This is an array

In [ ]:
#sep parameter 
print("India","USA","England",sep='/')

India/USA/England

In [ ]:
# end parameter to print in the same line
print("Hello ", end='')
print("World")

Hello World

In [ ]:
#Data types
# Basic: integer, float, complex, boolean, string
# Container : List , Tuples, Set , Dictionary
# User-defined : Class

#integer
print(4)
print(1e308)
print(1e309) #python can handle upto 1e308

print(100000000309302903920*10902909309103102890182901)

#float
print(1.2)
print(1.7e308)
print(1.7e309)

#boolean
print(True,False)

#complex
print(3+4j)

#string
print('Nirupama')
print("Nirupama")
print("""Nirupama""")

4
1e+308
inf
1090290934282611799500280714616116139229871920
1.2
1.7e+308
inf
True False
(3+4j)
Nirupama
Nirupama
Nirupama

In [ ]:
#List
l1=[1,2,3,4]
print(l1)

#tuple
t1=(1,2,3,4)
print(t1)

#set
s1={1,2,3,4}
print(s1)

#dictionary
d1={"name":"Nirupama","company":"ICICI bank","location": "Hyderabad"}
print(d1)

[1, 2, 3, 4]
(1, 2, 3, 4)
{1, 2, 3, 4}
{'name': 'Nirupama', 'company': 'ICICI bank', 'location': 'Hyderabad'}

In [ ]:
#comments
#there is no multi line comment feature in python. Some IDEs prvide this feature explicitly.

In [1]:
#variables 
#python is dynamically typed
#no variable declaration in python
a=5
print(5)
a="Nirupama"
print(a)

5
Nirupama

In [2]:
#dynamic binding
# a variable is not bind to a data type
a=True
print(a)
a=8.9
print(a)

True
8.9

In [3]:
#special syntax
#multiple variable declaration in same line
a=1;b=2;c=3
print(a,b,c)

#or

a,b,c=1,2,3
print(a,b,c)

#or

a=b=c=3
print(a,b,c)

1 2 3
1 2 3
3 3 3

In [5]:
#identifiers and keywords
#keywords are special names reserved by the programs.These can not be used as a variable name. like for, if,else,True, False

import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
#identifiers
# A name used to identify a variable, function, classes , modules or objects
# can only start with alphabet or underscore. Can not include special characters except underscore. 
#keywords can not be used as identifiers.

n_=2
print(n_)

2

In [7]:
#taking user input
a=input("Enter your input")
#by default it is string as string is an universal format
print(type(a))

Enter your input2
<class 'str'>

In [8]:
#typeconversion
#condition: they must be inter convertible. like string can not be converted as integer
#Two types of type conversion: implicit and explicit

#implicit
print(2+9.5)
#Here 2 is converted to float implicitly
print(9+(3+4j))

11.5
(12+4j)

In [9]:
#Explicit 
#we use built in functions for it.
#int,float,str,bool ,tuple,set ,dictionary function
print(int(4.5))
#print(int("nirupama")) #throws error as it is not compatible
print(float(4))
print(str(8))
print(bool(1))
print(bool(0),bool(-9))
#type conversion is not a permanent while typecasting is permanent

4
4.0
8
True
False True

In [10]:
b=int(input("Enter first number"))

Enter first number10

In [11]:
#literals: raw data given to a variable
#In python there are 4 literals: numeric, boolean, string,special

#numeric literal

a=0b1010 #binary literal but prints decimal
b=100 #decimal literal
c=0o310 #octal literal
d=0x12c #Hexadecimal literal


e=10.5 #float literal
f=1.5e2 #float literal
g=1.5e-3 #float literal

x=2+9j #complex literal

print(a,b,c,d)
print(e, f, g)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0 0.0015
(2+9j) 9.0 2.0

In [12]:
#string literals

s1='Nirupama'
s2="Nirupama"
char ="N" # there is no char datatype in python , you can initialize  a single character but it is still string
multiline_string ="""Hey! This  is Nirupama Ranjan. I
am printing multiline string"""
unicode=u"\U0001F603\U0001F609\U0001F617"  #starts with u 
raw_str=r"raw \n string"     #print specian charactes like \n

print(s1)
print(s2)
print(char)
print(multiline_string)
print(unicode)
print(raw_str)

Nirupama
Nirupama
N
Hey! This  is Nirupama Ranjan. I
am printing multiline string
ðŸ˜ƒðŸ˜‰ðŸ˜—
raw \n string

In [13]:
#Boolean literal
#True=1 and False=0 . Implicit type conversion takes place
a=True+4
b=False+4

print(a,b)

5 4

In [14]:
#special literal
#None means absence of anything or presence of nothing
#used for variable declaration
a=None
print(a)

a=34+35
print(a)

None
69

In [15]:
#Operators

#Airthematic
#Logical
#Comparison (Relational)
#Bitwiswe
#Assignment
#Identity
#Membership

#Airthematic
x=4
y=5

print(x+y, x-y, x*y, x/y, x%y, x**y , y//2)    # ** is poer of operator , // is inreger division

9 -1 20 0.8 4 1024 2

In [16]:
#Comparison
print(x>y, x<y, x>=y, x<=y, x==y , x !=y)

False True False True False True

In [17]:
#Logical

x=True
y=False

print (x or y , x and y, not x)

True False False

In [18]:
#Bitwise

x=2
y=3

print(x&y, x|y, x^y,~x, ~y, x<<3,y>>2)  #Mostly used in applying filters on images where images are first converted into bits.

2 3 1 -3 -4 16 0

In [19]:
#Assignment
x=2
x+=2
print(x)

y=9
y-=8
print(y)

# x++
# ++x  These syntxes do not work in python

4
1

In [20]:
#identity
#It checks whether two variables are at same memory location or not. There value must be same for this comparison

a=3
b=3

print(a is b)

a=[1,2,3]
b=[1,2,3]

print(a is b)

a="Nirupama"
b="Nirupama"

print(a is b)

True
False
True

In [21]:
#Membership
#Is a variable in another variable
#it is used in strings, dictionary etc

x="Nirupama"
print("r" in x)
print("y" in x)
print("y" not in x)

True
False
True

In [30]:
# if-else statement
email=input("Enter email id: ")
password=input("Enter password:")

Enter email id: kashdkjsajd
Enter password:lsjdj

In [31]:
if "@" in email:
  if email=="nirupama@gmail.com" and password=="abcd@1234":
     print("Welcome to web page")
  elif email=="nirupama@gmail.com":
    print("Incorrect Password!")
else:
  print("Email format is incorrect")

Email format is incorrect

In [25]:
a=int(input("Enter a number to compare :"))

Enter a number to compare :20

In [27]:
if a>=50:
  print("a is optimum")
elif a>=30:
  print("a can be considered")
elif a>=20:
  print("a can not be taken")
else:
  print("a is dangerously low")

a can not be taken

In [32]:
#indentation
#python does not have concept of paranthesis but indentation. So indentation is really important to identify a block of code
#press tab to go at correct indentation
#purpose to introduce indentation is readability

In [35]:
#in python there are only two loops : while and for

#While loop
#real world example of use of loop : displaying  similar products on screen 

#print table
num=4
i=1
while i<=10:
  print(num*i)
  i+=1

4
8
12
16
20
24
28
32
36
40

In [39]:
#GUESSING GAME
#Problem statement: There are n numbers from 1 to n. Our program selects a number for user. User has to guess the number. If the guessed number
#is less then program will tell to gues higher number else if greater then to guess lower number

import random

num=random.randint(1,100) # generates a random number from 1 to 100 both inclusive
# print(num)

guessed_number=int(input("Enter your guessed number:"))
attempt=0

while guessed_number!= num:
  attempt+=1
  if(guessed_number>num):
    print("Wrong guess")
    print("Guess lower") 
  else:
    print("Wrong guess")
    print("Guess higher")

  guessed_number=int(input("Enter again"))

print("Correct guess")
print("No of attempts:" , attempt+1)

39
Enter your guessed number:40
Wrong guess
Guess lower
Enter again39
Correct guess
No of attempts: 2

In [1]:
#for loop
#to understand for loop we need to understand range and sequence

#range function: generates numbers in a given range. range(1,11): generates numbers from 1 to 10
#range(start,end ,step)
#range(n): one parameter is considered as end, so it will generate numbers from 0 to n-1

print(range(1,10))
print(list(range(1,10)))
print(list(range(1,10,2)))
print(list(range(10,0,-1))) #backward counting
print(list(range(10)))

#sequence: string,list,set,dictionary

#for iterates over range function or sequence


for x in range(1,10):
  print(x)

a=[1,2,3,4]

for x in a:
  print(x)

range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
1
2
3
4
5
6
7
8
9
1
2
3
4

In [6]:
#nested for loop
#print pattern
# *
# **
# ***
# ****

n=int(input("Enter no of rows:"))

for i in range(n):
  for j in range(i+1):
    print("*", end='')
  print()

Enter no of rows:4
*
**
***
****

In [3]:
#break,pass and continue statement

i=0;
for i in range(100):
  if i==5:
    break
  elif i==2:
    i+=1
    continue
  else:
     print(i)
  i+=1

#we use pass when we do not know what to write

for i in range(1,11):
  pass

0
1
3
4